.clue-section {
    display: flex;
    justify-content: center;
}

.clue-container {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clue-label p{
    color: #f1f1f1;
}

.clue-input input{
    width: 20rem;
    height: 2rem;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    text-align: center;
    /* margin-bottom: 2rem; */
}

.clue-btn {
    margin-top: 5rem;
}

.clue-btn button{
    height: 2.5rem;
    width: 6rem;
    border-radius: 12px;
}

.clue-head {
    margin-bottom: 4rem;
}

.clue-head h3 {
    font-size: 30px;
    color: #e0d71c;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .clue-container {
        width: 80%;
    }
    .clue-input input {
        width: 15rem;
        height: 2rem;
        font-size: 20px;
    }
    .clue-head h3 {
        font-size: 20px;
    }
    .clue-label p {
        margin-bottom: 2rem;
    }
}