.validate-section {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    width: 30rem;
    border: 1px solid #f1f1f1;
    border-radius: 40px;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 10px 0.2px rgb(147, 147, 147);
}

.card .val {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.validate-label {
    font-size: 2.5rem;
}

.input-field {
    height: 4rem;
    padding: 0px 5px;
    font-size: 30px;
    border-radius: 14px;
}

.sep {
    color: black;
    margin: 0px 10px;
}

.validate-button {
    height: 3rem;
    width: 8rem;
    border-radius: 14px;
    background-color: #f1f1f1;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.log {
    color: red;
    display: block;
    text-align: end;
    padding-top: 5px;
}

@media (max-width: 768px) {
    .card {
        width: 20rem;
        height: 20rem;
        box-shadow: 0px 0px 10px 0.2px rgb(147, 147, 147);
    }

    .validate-label {
        font-size: 2rem;
    }

    .input-field {
        height: 3rem;
        font-size: 20px;
        border-radius: 10px;
    }
    .validate-button {
        height: 2.5rem;
        width: 6rem;
        border-radius: 12px;
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .card {
        width: 18rem;
        height: 18rem;
        box-shadow: 0px 0px 9px 0.2px rgb(147, 147, 147);
    }

    .validate-label {
        font-size: 1.5rem;
    }

    .input-field {
        height: 2.5rem;
        font-size: 16px;
        border-radius: 8px;
    }
    .validate-button {
        height: 2rem;
        width: 5rem;
        border-radius: 10px;
        font-size: 14px;
    }
    .log {
        font-size: 13px;
    }

}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }